<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title></title>
    <script src="./js/library/jquery.min.js"></script>
    <script src="./js/library/popper.min.js"></script>
    <script src="./js/library/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./css/library/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="./js/library/axios.min.js"></script>
    <script src="./js/library/vue.min.js"></script>
    <link rel="stylesheet" href="./scss/hall.css" />
    <script src="./js/header.js"></script>

    <script>
      $(function() {
        $("#footer").load("./component/footer.html")
      })
    </script>

  </head>

  <body>
    <div id="app" v-cloak>
      <header id="header">
        <my-header></my-header>
      </header>
      <main>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./images/hall/carousel-1.png" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./images/hall/carousel-1.png" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./images/hall/carousel-1.png" alt="...">
            </div>
          </div>
        </div>

        <!-- 相關總計 -->
        <!-- <div class="subtotal">
          <div class="child">
            <div class="name">目前總計會數</div>
            <div class="amount text-en">{{ userData.participate_count || 0 }}</div>
          </div>
          <div class="child">
            <div class="name">參與總會數</div>
            <div class="amount text-en">{{ userData.mw_subscripts_count || 0 }}</div>
          </div>
        </div> -->
        
        <!-- 得標紀錄 -->
        <div class="recordsLayout">
          <div class="recordsTabs">
            <div class="recordsTab active">
              <div class="name-zh">台灣</div>
              <div class="name-en text-en italic">TAIWAN</div>
            </div>
            <div class="recordsTab">
              <div class="name-zh">國際 <span>(即將開放)</span></div>
              <div class="name-en text-en italic">INTERNATIONALITY</div>
            </div>
          </div>
          <div class="recordsNavs">
            <div v-for="item in caseTypes" :key="item.label" :class="{active: item.value == caseType.value}" class="recordsNav" @click="caseType = item">{{ item.name }}</div>
          </div>
          <div class="records">
            <div v-for="item in filteredCase1" :key="item.tm_id" class="record" >
              <div class="recordHeader justify-content-between">
                <div class="type">{{caseType.name}}</div>
                <div v-if="item.has_participants > 0">您目前已下標: {{ item.has_participants }}</div>
              </div>
              <!-- <div class="recordName">{{item.tm_type_name}}</div> -->
              <div class="recordFooter align-items-center">
                <div>已下標數量：<span class="amount">{{item.tm_count}}</span></div>
                <!-- <div v-if="item.has_participants > 0" class="common-btn" style="width: 75px; padding: 4px 0">已下標</div> -->
                <div class="d-flex">
                  <div @click="showConfirm(item)" class="common-btn me-2" style="min-width: 75px; padding: 4px 0">可下標</div>
                  <select v-if="item.bid_count >= 1 && item.tm_type != 'D'" v-model="item.qty" class="form-select" id="pay_method" name="pay_method">
                    <option selected disabled value=0>請選擇數量</option>
                    <option v-for="n in item.bid_count">{{ n }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 進行中標案 -->
        <div class="inProgress">
          <div class="progressTitle">
            <div class="title-zh">參與標會</div>
            <div class="title-en text-en italic">IN PROGRESS</div>
          </div>

          <div class="tenderBtns">
            <div class="tenderBtn" :class="{'active': tenderTabType == 1}" @click="tenderTabType = 1">進行中活會</div>
            <div class="tenderBtn" :class="{'active': tenderTabType == 2}" @click="tenderTabType = 2">組織總會數</div>
          </div>

          <div class="attendData">
            <div class="tenderChipRow">
              <div v-for="tender in tenders" class="tenderChip" @click="openDetail(tender)">
                <div class="name">{{ tender.tm_type_name }}</div>
                <div v-if="tenderTabType == 1">
                  <div>進行中:{{tender.self_available_quantity }}</div>
                  <div>所有標會:{{tender.self_all_quantity }}</div>
                </div>
                <div v-if="tenderTabType == 2">
                  <div>進行中:{{tender.self_org_available_quantity }}</div>
                  <div>參與總會數:{{tender.self_org_all_quantity }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="recordModal" tabindex="-1" aria-labelledby="recordModal" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content" id="print-area">
              <div class="modal-header">
                <div class="title">{{tenderDetail.ttr_title}}</div>
                <div class="modalClose" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></div>
              </div>
              <div class="info">
                <div class="mb-2">{{tenderDetail.ttr_detail01}}</div>
                <div class="mb-2">{{tenderDetail.ttr_detail02}}</div>
                <div class="mb-2">{{tenderDetail.ttr_detail03}}</div>
                <div >{{tenderDetail.ttr_detail04}}</div>
              </div>
              <div class="modal-body">
                <table>
                  <thead>
                    <tr>
                      <th>會首</th>
                      <th>{{ formatName(tenderDetail.ttr_owner) }}</th>
                      <th>{{ formatPhone(tenderDetail.ttr_phone) }}</th>
                      <th>{{ formatDate(tenderDetail.ttr_tm_group_datetime) }}</th>
                      <th colspan="4">{{ formatAddress(tenderDetail.ttr_address) }}</th>
                    </tr>
                    <tr>
                      <th>編號</th>
                      <th>姓名</th>
                      <th>聯絡電話</th>
                      <th>得標日期</th>
                      <th>編號</th>
                      <th>姓名</th>
                      <th>聯絡電話</th>
                      <th>得標日期</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="row, ind in tenderDetail.detailRows" :key="`row-${ind}`">
                      <td>{{ row[0].td_sequence }}</td>
                      <td>{{ formatName(row[0].mm_name) }}</td>
                      <td>{{ formatPhone(row[0].mm_phone_number) }}</td>
                      <td>{{formatDate( row[0].td_update_datetime) }}</td>
                      <td v-if="row[1]">{{ row[1].td_sequence }}</td>
                      <td v-if="row[1]">{{ formatName(row[1].mm_name) }}</td>
                      <td v-if="row[1]">{{ formatPhone(row[1].mm_phone_number) }}</td>
                      <td v-if="row[1]">{{ formatDate( row[1].td_update_datetime) }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <div class="common-btn" style="width: 120px; height: 30px; margin: auto" @click="printData">列印</div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="confirmModal" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">系統提示</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>是否確定進行下標【{{subscriptItem.tm_type_name}}】?</p>
                <p>若要繼續請輸入您的二級密碼後進行確定</p>
                <div style="max-width: 100%; width: 300px"><input v-model="mm_2nd_pwd" minlength="4" class="w-100" maxlength="15" id="password2" name="password2" type="password" required></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" @click="subscriptCase">確定</button>
              </div>
            </div>
          </div>
        </div>

      </main>
    </div>
    <footer id="footer"></footer>
    <script src="./js/hall.js"></script>

  </body>
</html>
