@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:500,700|Raleway:700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  background: white;
  box-shadow: 0px 3px 10px rgba(113, 99, 28, 0.1019607843);
}
@media only screen and (max-width: 992px) {
  header {
    background: #f5f5f5;
    box-shadow: none;
  }
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media only screen and (max-width: 992px) {
  .navBar {
    justify-content: center;
  }
}

.logo {
  width: 160px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
@media only screen and (max-width: 992px) {
  .logo {
    width: 120px;
    padding: 12px 0;
  }
}

.navs {
  display: flex;
}
.navs .nav {
  margin: 0 40px;
  font-size: 18px;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navs .nav.active {
  border-top: 5px solid #a11f1a;
}
@media only screen and (max-width: 992px) {
  .navs .nav.active {
    border-top: none;
    color: #a11f1a;
  }
}
.navs .nav:hover {
  color: #595959;
}
@media only screen and (max-width: 992px) {
  .navs .nav {
    margin: 0 auto 40px auto;
  }
}
.navs .nav.registNav {
  display: none;
}
@media only screen and (max-width: 992px) {
  .navs .nav.registNav {
    display: flex;
  }
}
@media only screen and (max-width: 992px) {
  .navs {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: white linear-gradient(180deg, white 40%, #F8F2F2 100%) 0% 0% no-repeat padding-box;
    display: none;
  }
}
.navs .closeMenu {
  display: none;
}
@media only screen and (max-width: 992px) {
  .navs .closeMenu {
    display: block;
    margin-bottom: 40px;
  }
  .navs .closeMenu span {
    padding: 8px;
    cursor: pointer;
    color: #a11f1a;
    font-size: 50px;
    font-weight: bold;
  }
}
.navs .menuFooter {
  display: none;
  color: #deac9c;
}
@media only screen and (max-width: 992px) {
  .navs .menuFooter {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: white;
    padding: 19px 25px;
    font-size: 12px;
  }
}

.registBtn {
  padding: 20px 50px;
  background: #a11f1a;
  color: white;
  border-radius: 25px 0 25px 0;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .registBtn {
    display: none;
  }
}

.hamburger {
  display: none;
}
@media only screen and (max-width: 992px) {
  .hamburger {
    display: inline;
    position: absolute;
    font-size: 30px;
    color: #880f0b;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
  }
}

* {
  font-family: "Noto Sans TC", Microsoft JhengHei, sans-serif;
  -webkit-overflow-scrolling: touch;
}

[v-cloak] {
  opacity: 0;
}

.text-en {
  font-family: "Montserrat";
}

body {
  background: #f9f9f9;
  position: relative;
  color: #262626;
  overflow-x: hidden;
}

body.lock-body {
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.color-primary {
  color: #a11f1a !important;
}

.color-secondary {
  color: #deac9c !important;
}

.color-minor {
  color: #c24e4a !important;
}

.fs-12 {
  font-size: 12px !important;
}

.common-btn {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  background: #a11f1a;
  border-radius: 50rem;
  color: white;
  border: none;
}
.common-btn:disabled {
  background: #9c9c9c;
}

footer {
  padding-top: 75px;
}
@media only screen and (max-width: 992px) {
  footer {
    padding-top: 0;
  }
}
footer .myFooter {
  width: 100%;
  position: relative;
  display: flex;
  background: #a11f1a;
  padding: 60px 30px;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  footer .myFooter {
    justify-content: center;
    padding: 20px 0;
  }
}
footer .circleBg {
  position: absolute;
  top: 0;
  width: 350px;
  right: 0;
  transform: translate(0, -64%);
}
@media only screen and (max-width: 992px) {
  footer .circleBg {
    display: none;
  }
}
footer .circleBg .goTop {
  position: absolute;
  width: 100px;
  top: 50px;
  left: 53%;
  transform: translate(-50%, 0);
}
footer .circleBg .topCircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  padding-top: 20px;
  cursor: pointer;
}
footer .circleBg .topCircle .topBtn {
  width: 60px;
  margin: auto;
}
footer .circleBg .text {
  color: #f8f2f2;
  writing-mode: vertical-lr;
  margin: 12px auto 0 auto;
  font-size: 14px;
}
footer .logo {
  width: 200px;
}
footer .footerNavs {
  display: flex;
  margin-left: 60px;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  footer .footerNavs {
    display: none;
  }
}
footer .footerNavs .nav {
  color: #f9f9f9;
  margin-right: 20px;
  display: block;
}
footer .footerNavs .text-en {
  font-size: 12px;
  color: #deac9c;
  transform: scale(0.8);
}

.mySwiper .swiper-pagination .swiper-pagination-bullet {
  width: 18px;
  height: 4px;
  border-radius: 4px;
  background: #deac9c;
}
.mySwiper .swiper-pagination.swiper-pagination-bullet-active {
  background: #a11f1a;
}/*# sourceMappingURL=main.css.map */