<h1 mat-dialog-title>{{ isEditing ? '修改' : '新增' }}項目</h1>

<div mat-dialog-content class="content">
    <form [formGroup]="addEditFormGroup">
        <!-- 引數代號，顯示但不可更改 -->
        <mat-form-field class="mat-50">
            <mat-label>ID</mat-label>
            <input formControlName="sps_id" matInput [readonly]="isReadonly">
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>參數代號</mat-label>
            <input formControlName="sps_code" matInput [readonly]="isEditing">
            <mat-error *ngIf="addEditFormGroup.get('sps_code')?.hasError('maxlength')">
                帳號不可超過25個字元
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>參數名稱</mat-label>
            <input formControlName="sps_name" matInput [readonly]="isEditing">
            <mat-error *ngIf="addEditFormGroup.get('sps_name')?.hasError('maxlength')">
                帳號不可超過25個字元
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>參數描述</mat-label>
            <input formControlName="sps_description" matInput>
            <mat-error *ngIf="addEditFormGroup.get('sps_description')?.hasError('maxlength')">
                帳號不可超過100個字元
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>參數1</mat-label>
            <input formControlName="sps_parameter01" matInput>
            <mat-error *ngIf="addEditFormGroup.get('sps_parameter01')?.hasError('maxlength')">
                帳號不可超過30個字元
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>參數2</mat-label>
            <input formControlName="sps_parameter02" matInput>
            <mat-error *ngIf="addEditFormGroup.get('sps_parameter02')?.hasError('maxlength')">
                帳號不可超過30個字元
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>參數</mat-label>
            <input formControlName="sps_parameter03" matInput>
            <mat-error *ngIf="addEditFormGroup.get('sps_parameter03')?.hasError('maxlength')">
                帳號不可超過30個字元
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>參數4</mat-label>
            <input formControlName="sps_parameter04" matInput>
            <mat-error *ngIf="addEditFormGroup.get('sps_parameter04')?.hasError('maxlength')">
                帳號不可超過30個字元
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>參數5</mat-label>
            <input formControlName="sps_parameter05" matInput>
            <mat-error *ngIf="addEditFormGroup.get('sps_parameter05')?.hasError('maxlength')">
                帳號不可超過30個字元
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>參數6</mat-label>
            <input formControlName="sps_parameter06" matInput>
            <mat-error *ngIf="addEditFormGroup.get('sps_parameter06')?.hasError('maxlength')">
                帳號不可超過30個字元
            </mat-error>
        </mat-form-field>
    </form>
</div>
<!-- 其他欄位 -->
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onFormSubmit()">保存變更</button>
    <button mat-raised-button type="button" (click)="onFormClose()">取消</button>
    <!-- <button  mat-raised-button color="warn" (click)="editClose()">取消</button> -->
</div>
<!-- <button *ngIf="isEditing" (click)="saveChanges()">保存變更</button> -->