.content {
  padding-top: 10px;
}

.mat-50 {
  width: 48%;
  margin: 1%;
}

.mat-100 {
  width: 99%;
  margin: 1%;
}

@media (max-width: 600px) {

  /* 假設小於6吋的手機寬度約為600px */
  .mat-50 {
    width: 99%;
    margin: 1%;
  }
}

.action {
  padding: 0px 25px 20px;

  button {
    margin-right: 8px;
    // flex: 1;
  }
}