<section>
  <div class="example-label">測試用</div>
  <div class="example-button-row">
    <button mat-stroked-button (click)="biddingSchedule()">下標紅利派發排程</button>
    <button mat-stroked-button (click)="settlementRewardSchedule()">清算紅利排程</button>
    <button mat-stroked-button (click)="settlementPeaceSchedule()">清算平安點數排程</button>
    <button mat-stroked-button (click)="groupDebitSchedule()">成組排程</button>
    <button mat-stroked-button (click)="pendingPaymentSchedule()">待付款排程</button>
  </div>
</section>