<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4 in">
                <li class="sidebar-item" routerLinkActive="selected">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link active" 
                            routerLink="/manage/Tender" aria-expanded="false"><i
                            ></i><span class="hide-menu">標會</span></a>
                </li>
                <li class="sidebar-item" routerLinkActive="selected">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link active" 
                            routerLink="/manage/MemberInfo" aria-expanded="false"><i
                            ></i><span class="hide-menu">會員資料</span></a>
                </li>
            </ul>
        </nav>
    </div>
</aside>