.content {
    padding-top: 10px;
}

.row {
    display: flex;
    gap: 10px;
    justify-content: center;
    // border: 1px solid #ccc;
    mat-form-field {
        width: 45%;
        margin: 1%;
    }
}

.action {
    padding: 1em;

    button {
        flex: 1;
    }
}
