<form [formGroup]="formGroup" (ngSubmit)="queryFrontPageList(0,pageSize,pageSort,pageSortDirection)">
    <mat-form-field class="mat-50">
        <mat-label>ID</mat-label>
        <input formControlName="ab_id" matInput>
        <mat-error *ngIf="formGroup.get('ab_id')?.hasError('pattern')">
            只能是數字
        </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-50">
        <mat-label>名稱</mat-label>
        <input matInput formControlName="ab_title">
        <mat-error *ngIf="formGroup.get('ab_title')?.hasError('maxlength')">
            標題不可超過30個字元
        </mat-error>
    </mat-form-field>
    <div class="form-action">
        <button mat-raised-button color="primary" (click)="openAddEditForm(false);$event.stopPropagation()">新增</button>
        <button mat-raised-button color="primary" type="submit">查詢</button>
    </div>
</form>


<div class="table-container">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortDirection="desc">
        <!-- Action Column -->
        <ng-container matColumnDef="action" class="table-action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row">
                <div class="table-action">
                    <button mat-icon-button color=" primary" (click)="openAddEditForm(true,row)">
                        <mat-icon>table_view</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="openAddEditForm(false,row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <!-- <button mat-icon-button color="warn" (click)="onDelete(row.id,'確定刪除嗎?')">
                        <mat-icon>delete</mat-icon>
                    </button> -->
                </div>

                <!-- <ng-container *ngIf="['10','13'].includes(row.aw_status)">
                    <button mat-icon-button color="primary" (click)="openConfirmDialog(row,'確定通過審核嗎?','OK')">
                        <mat-icon>check_circle_outline</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="openConfirmDialog(row,'確定駁回嗎?','NO')">
                        <mat-icon>highlight_off</mat-icon>
                    </button>
                </ng-container> -->
            </td>
        </ng-container>

        <!-- 明細用 -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row" [attr.colspan]="3">
                <div class="example-element-detail" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">

                    <table>
                        <ng-container>
                            <tr> Details </tr>
                            <td> {{row.sps_id}} </td>
                        </ng-container>
                    </table>

                </div>
            </td>
        </ng-container>

        <!-- ab_id Column -->
        <ng-container matColumnDef="ab_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.ab_id}} </td>
        </ng-container>

        <!-- ab_title Column -->
        <ng-container matColumnDef="ab_title">
            <th mat-header-cell *matHeaderCellDef> 標題 </th>
            <td mat-cell *matCellDef="let row"> {{row.ab_title}} </td>
        </ng-container>

        <!-- ab_content Column -->
        <ng-container matColumnDef="ab_content">
            <th mat-header-cell *matHeaderCellDef> 內容 </th>
            <td mat-cell *matCellDef="let row"> {{row.ab_content}} </td>
        </ng-container>

        <ng-container matColumnDef="ab_image_url">
            <th mat-header-cell *matHeaderCellDef> 公告圖片 </th>
            <td mat-cell *matCellDef="let row"> 
                <img [src]="row.ab_image_url" class="fixed-img">
            </td>
            
        </ng-container>
        <!-- ab_status Column -->
        <!-- <ng-container matColumnDef="ab_status">
            <th mat-header-cell *matHeaderCellDef> 狀態 </th>
            <td mat-cell *matCellDef="let row"> {{row.ab_status}} </td>
        </ng-container> -->

        <!-- ab_datetime Column -->
        <!-- <ng-container matColumnDef="ab_datetime">
            <th mat-header-cell *matHeaderCellDef> 時間 </th>
            <td mat-cell *matCellDef="let row"> {{row.ab_datetime}} </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- 明細會用到 -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === row"
            (click)="expandedElement = expandedElement === row ? null : row">
        </tr>
        <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter</td>
        </tr>
    </table>

    <mat-paginator [length]="totalCount" [pageIndex]="pageIndex" [pageSizeOptions]="[10]"
        aria-label="Select page of users"></mat-paginator>
</div>